body{
    margin: 0;
    padding: 0;
    display: inline-block;  
}

.all{
    margin-top:20px;
    margin-left: 70px;
    padding: 30px 20px 30px 0px;
    border:4px solid transparent;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
}

.white{
    text-align: center;
    color:white;
    text-shadow: 3px 3px 3px #000;
    font-family: 'Calibri';
    margin-top:-30px;
}

img{
    width: 100px;
    height: 100px;
    margin-bottom: -40px;
    margin-top:-30px;
}

.purple{
    text-align: center;
    color:#6c50b7;
    padding: 0px 1px 1px 1px;
    text-shadow: 3px 3px 0px black;
    font-family: 'Calibri';
    cursor: pointer;
    height: 50px;
    width: 150px;
    margin-bottom: 40px;
    margin-left: 520px;
    font-style: italic;
}

.title_surg{
    margin-left: 100px;
}

.title_surg, .area_prof, .o_que_e, .area_aprec{
    display: inline-block;
    text-align: justify;
    width: 200px;
    height: 200px;
    margin-right: 70px;
    text-shadow: 1px 1px 1px black;
}

.title_surg h2:hover, .o_que_e h2:hover,.area_prof h2:hover, .area_aprec h2:hover{
    color:#5538a5;
    cursor: pointer;
    transition: 0.3s;
}

.title_surg p:hover, .o_que_e p:hover,.area_prof p:hover, .area_aprec p:hover{
    color:white;
    cursor: pointer;
    transition: 0.3s;
    text-shadow: 1px 1px 1px black;
}

.title_surg h2, .area_prof h2, .o_que_e h2, .area_aprec h2{
    color:#6c50b7;
    transition: 0.5s;
}

.title_surg p, .area_prof p, .o_que_e p, .area_aprec p{
    transition: 0.5s;
    color:rgb(48, 47, 47);
}

a{
    text-decoration: none;
}

a:focus{
    color:#3c1f8b;;
}

::-webkit-scrollbar {
    width: 8px;
}
  
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 15px;
    border-radius: 15px;
    background: linear-gradient(#3c299e, #5b36c0); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}