body{
    background-image: url(/img/fundo.png);
    min-height: 100%;
    margin:0;
}

#ERROR{
    font-family: "Calibri";
    color: darkred;
    text-shadow: 2px 2px 2px #000;
    font-size:18px;
    display: inline-block;
    margin:20px 0px 0px 160px;
}

img{
    width: 325px;
    height: 325px;
    margin-left: 470px;
    margin-top: -370px;
    cursor: pointer;
}

h5{
    margin-left: 185px;
    color:red;
    font-size: 18px;
    list-style: none;
    text-shadow: 3px 3px 3px #000;
    font-family: 'Calibri';
}

.rodape ul{
    margin:180px 0px 0px 0px;
    background-color:#6c50b7;
    list-style:none;
    height: 43px; 
    border: inset 1px gray;
    text-align: center;
    cursor: pointer;
}

.rodape ul li:hover{
    background-color:#6c50b7;
    color: black;
    border-bottom:2px solid black;
    transition: 0.3s;
    text-shadow: 2px 2px 2px #000;
}

.rodape #tel{
    padding: 2px 10px;
    display: inline-block;
    background-color: #6c50b7;
    color: white;
    text-decoration: none;
    margin:0px 20px 0px 0px;
    height: 28px;
    transition: 0.3s;
    transition-delay: 0.05s;
    font-family: "Calibri";
    font-size: 16px;
    font-weight: bolder;
}

.rodape #sup{
    padding: 2px 10px;
    display: inline-block;
    background-color: #6c50b7;
    color: white;
    text-decoration: none;
    margin:10px 20px 0px 0px;
    height: 28px;
    transition: 0.3s;
    transition-delay: 0.05s;
    font-family: "Calibri";
    font-size: 16px;
    font-weight: bolder;
}

.rodape #emp{
    padding: 2px 10px;
    display: inline-block;
    background-color: #6c50b7;
    color: white;
    text-decoration: none;
    margin:10px 20px 0px 0px;
    height: 28px;
    transition: 0.3s;
    transition-delay: 0.05s;
    font-family: "Calibri";
    font-size: 16px;
    font-weight: bolder;
}

.rodape #api{
    padding: 2px 10px;
    display: inline-block;
    background-color: #6c50b7;
    color: white;
    text-decoration: none;
    margin:10px 20px 0px 0px;
    height: 28px;
    transition: 0.3s;
    transition-delay: 0.05s;
    font-family: "Calibri";
    font-size: 16px;
    font-weight: bolder;
}

.rodape #term_de_priv{
    padding: 2px 10px;
    display: inline-block;
    background-color: #6c50b7;
    color: white;
    text-decoration: none;
    margin:10px 20px 0px 0px;
    height: 28px;
    transition: 0.3s;
    transition-delay: 0.05s;
    font-family: "Calibri";
    font-size: 16px;
    font-weight: bolder;
}

#menu ul {
    margin:-9px 0px 0px 0px;
    background-color:#6c50b7;
    list-style:none;
    height: 43px; 
    border: inset 1px gray;
}

#menu ul li { 
    display: inline-block;
}

label{
    color: white;
    margin-left: 350px;
    font-family: "Calibri";
    display: inline-block;
}

select{
    background-color: transparent;
    color: white;
    width: 2.4cm;
    border-color:#6c50b7;
    font-weight: bolder;
    cursor: pointer;
    font-family: "Calibri";
    font-size: 16px;
}

option{
    color:black;
    text-align: center;
}

#menu ul li #sobre{
    padding: 2px 10px;
    display: inline-block;
    background-color: #6c50b7;
    color: white;
    text-decoration: none;
    margin:10px 0px 0px -6px;
    height: 28px;
    transition: 0.3s;
    transition-delay: 0.05s;
    font-family: "Calibri";
    font-size: 16px;
    font-weight: bolder;
}

#menu ul li #inicial{
    padding: 2px 10px;
    display: inline-block;
    background-color: #6c50b7;
    color: white;
    text-decoration: none;
    margin:10px 0px 0px 300px;
    height: 28px;
    transition: 0.3s;
    transition-delay: 0.05s;
    font-family: "Calibri";
    font-size: 16px;
    font-weight: bolder;
}

#menu ul li a:hover {
    background-color:#6c50b7;
    color: black;
    border-bottom:3px solid black;
    transition: 0.3s;
}

.login{
    background: transparent;
    margin:0 auto;
    margin-top: 1.5cm;
    border-radius: 2px;
    width: auto;
    max-width: 835px;
    height: 329px;
    padding: 0 auto;
    padding-top: 10px;

}

input[type="text"]{
    height: 0.7cm;
    width: 97%;
    max-width: 280px;
    border-radius: 5px;
    background-color: #19181F;
    box-shadow: #000 3px 5px 5px;
    border: #000 0.03cm groove; 
    color:#6c50b7;
    padding-left: 42px;
    font-size: 14px;
    opacity: 0.75;
    margin-bottom: 10px;
    margin-left: 116px;
}

input[type="password"]{
    height: 0.7cm;
    width: 97%;
    max-width: 280px;
    border-radius: 5px;
    background-color: #19181F;
    box-shadow: #000 3px 5px 5px;
    border: #000 0.03cm groove; 
    color:#6c50b7;
    padding-left: 42px;
    font-size: 14px;
    opacity: 0.75;
    margin-bottom: 20px;
    margin-left: 116px;
}

input[type="submit"]{
    background-color: #6c50b7;
    color: #fff;
    border-radius: 100px;
    box-shadow: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    padding: 6px;
    width: 280px;
    text-align: center;
    white-space: nowrap;
    margin-left: 140px;
    margin-top: 20px;
    transition: 0.7s;
    box-shadow: #000 3px 5px 5px;
    border: gray 0.04cm inset;
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.check{
    margin-left:114px;
    color:white;
}

#inscricao{
    margin-left: 116px;
    font-family: 'Calibri';
    color:white;
}

#historia{
    margin-left: 116px;
    font-family: 'Calibri';
    color:white;
}

#inicial, #sobre{
    color:#6c50b7;
    font-family: 'Calibri';
    transition: 0.3s;
}

a{
    color:#6c50b7;
    font-family: 'Calibri';
    transition: 0.3s;
}

a:hover{
    color:#6c50b7; 
    text-shadow: 3px 3px 3px #000;
    transition: 0.3s;
}

input[type="submit"]:hover{
    background-color: #6c50b7;
    border-radius: 25px 5px 25px 5px;
    transition: 0.3s;
}

input[type="text"]:focus{
    border:solid 2px #6c50b7;
}

[type="password"]:focus{
    border:solid 2px #6c50b7;
}

.fa-rocket{
    margin-right: 5px;
}

#title h1{
    color:white;
    font-size: 26px;
    font-family: "Calibri";
    text-shadow: 3px 3px 3px #000;  
}

#title h2{
    color:#8d75ce;
    font-size: 26px;
    font-family: "Calibri";
    margin-left: 123px;
    margin-top: -49px; 
    font-weight: bold;
    font-style: italic;
    text-shadow: 3px 3px 3px #000;
}

#title{
    padding: 0px 0 20px 0;
    margin-left: 116px;
    margin-bottom: -20px;
}