body{
    background-color: #19181e;
}

h1{
    margin-left:500px ;
    color: #6c50b7;
    font-size: 60px;
    margin-top:auto ;
    font-family: "Calibri";
    font-style: italic;
    text-shadow: 3px 3px 3px #000;
}
h2{
    color: white;
    margin-left: 535px;
    margin-top:auto ;
    font-size: 30px;
    font-family: "Calibri";
    text-shadow: 3px 3px 3px #000;
}

.p1{
    color: white;
    text-align: justify;
    width: 650px;
    margin-top: 100px;
    margin-left: 500px;
    font-size: 20px;
    font-family: "Calibri";
}

.p2{
    color: white;
    width: 650px;
    text-align: justify;
    margin-left: 500px;
    font-size: 20px;
    font-family: "Calibri";
}

.p3{
    color: white;
    width: 650px;
    margin-left: 500px;
    text-align: justify;
    font-size: 20px;
    font-family: "Calibri";

}
#logcaixa{
    margin-top: -180px;
    width: 450px;
    position: fixed;
}

#captura{
    width: 650px;
    margin-left: 500px;
}

#button {
    background: #6c50b7;
    font-weight: 700;
    cursor: pointer;
    color: white;
    width: 650px;
    margin-left: 500px;
    font-size: 20px;
    font-family: "Calibri";
    border: none;
    box-shadow: 0 5px 0 #5a4399;
    margin-bottom: 25px;
    transition: 0.3s;
}
#button:hover {
    margin-left: 500px;
    font-size: 20px;
    font-family: "Calibri";
    border-radius: 5px;
    transition: 0.5s;
    background: #3f19aa;
    box-shadow: 0 5px 0 #3f19aa;
}

::-webkit-scrollbar {
    width: 8px;
}
  
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 15px;
    border-radius: 15px;
    background: linear-gradient(#3c299e, #5b36c0); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
