<!DOCTYPE html>
<html lang="pt-Br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="icon" href= "../Img/logIcon.ico" type="image/x-icon">
        <link rel="stylesheet" href="../Css/historia.css">
        <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Condensed&display=swap" rel="stylesheet">
        <script src="../Js/all.js"></script>
        <title>NextSpace</title>
        <style>body{
                background-image: url(../img/fundo.png);
            }</style>
    </head>

    <body>
        <div class="all">
            <div class="white">
                <h1>História por trás do</h1>
            </div>
            <div class="purple">
                <img src="../Img/logIcon.ico" alt=""><h1><a href="../Html/Login.html">NextSpace</a></h1>
            </div>
            <div class="title_surg">
                <h2>Como surgiu...</h2>
                <div>
                    <p>O NextSpace surgiu com uma proposta inicial de dois alunos de uma plataforma de cursos,
                    onde, nesta platarfoma os alunos aprendiam programação Web no curso Desenvolvimento de Sistemas.
                    Desafiados pela Docente/Orientadora deles, os estudantes dicidiram por em prática tudo que
                    aprenderam e que não aprenderam, e foi assim que, em outubro de 2019, surgiu a ideia do NextSpace!</p>
                </div>
            </div>  
            <div class="o_que_e">  
                <h2>O que é...</h2>
                <div>
                    <p>
                        A ideia inicial da rede social é criar uma forma de gamers se encontrarem mais rápido
                        dentro do meio onde eles estão inseridos. A plataforma contará com áreas diferentes para
                        as pessoas que apenas apreciam o cenário e que jogam por diversão e, também, uma aréa especifica
                        para as pessoas que jogam profissionalmente! O NextSpace pretende lançar sua primeira versão na
                        web por volta da metade do ano de 2020, entre maio e junho! 
                    </p>
                </div>
            </div>
            <div class="area_aprec">
                <h2>Apreciadores...</h2>
                <p>Como foi dito anteriormente, haverá uma área destinada apenas para os apreciadores dos games.
                   Essa área disponibilizará ao usuário acesso ao games mais jogados atualmente, terá acesso a links
                   direcionados para sites onde estarão acontecendo LiveStreams dos jogos desejados por eles de maneira
                   prática e rápida, além de poder conversar com outras pessoas que acessam a Social Network!
                </p>
            </div>
            <div class="area_prof">
                <h2>Profissionais...</h2>
                <p>
                    Também haverá uma área totalmente destinada aos profissionais dos jogos mais constantes no cenário
                    competivo, tanto brasileiro quanto internacional. Os jogadores terão um banco de dados para caso queiram
                    guardar informações de suas partidas ou até mesmo a própria partida em vídeo para estudarem depois. Terão acesso
                    a seu perfil de profissional, onde mostrará qual jogo ele está mais inserido.
                </p>
            </div>
        </div>
    </body>
</html>