<!DOCTYPE html>
<html lang="pt/br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../View/Js/all.js"></script>
    <link rel="icon" href= "../View/Img/logIcon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../Css/style.css">
    <title>Quem Somos</title>
</head>

    <body>
        <h2>Bem vindos ao </h2> 
        <h1>NextSpace</h1>
                
        <img src="../Img/logo.png" alt="logo html" id="logcaixa" >     

        <p class= "p1">O NextSpace basicamente é uma rede social, onde você, seus amigos e muitos outros desconhecidos entram
                para compartilhar informações do dia-a-dia e muitos outros assuntos que abordam um tema específico, que é a
                tecnologia. O site engloba tanto o mundo da informática básica e avançada, como o mundo dos gamers!</p>
        <p class= "p2"> 
        Tá esperando o que para começar essa jornada do conhecimento e aprendizado? Faça logo seu login e não perca tempo 
        para se transformar no Especialista da area TI ou quem sabe em um gamer melhor! 
        </p>

        <img src="../Img/cadastro.png" alt="cadastro html" id="captura">

        <p class= "p3">
            Com uma interface moderna e elegante, o NextSpace vem convidando você para a criação de sua conta, basta clicar 
            no botão "Cadastrar-se", logo abaixo:
        </p>

        <form action="Cadastro.html">
            <input type="submit" value="Cadastrar-se" id ="button"/>
        </form>
    </body>
</html>